# dependencies
/node_modules

# next.js
/.next/
/out/

# env files
.env
.env.local
.env.*.local

# vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store

# project-specific
.claude/
.superpowers/
